// SPDX-License-Identifier: (GPL-2.0+ OR MIT)

#include "sun50i-a64-recore.dtsi"

/ {
	model = "Recore-A3";
	compatible = "pine64,pine64", "allwinner,sun50i-a64";
};

&reg_aldo1 {
	regulator-always-on;
	regulator-min-microvolt = <0700000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-emmc";
};

&reg_aldo3 {
	regulator-always-on;
	regulator-min-microvolt = <3000000>;
	regulator-max-microvolt = <3000000>;
	regulator-name = "vcc-pll-avcc";
};

&reg_dc1sw {
  regulator-always-on;
	regulator-name = "vcc-phy";
};

&reg_dcdc1 {
	regulator-always-on;
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-3v3";
};

&reg_dcdc2 {
	regulator-always-on;
	regulator-min-microvolt = <1040000>;
	regulator-max-microvolt = <1300000>;
	regulator-name = "vdd-cpux";
};

&reg_dcdc5 {
	regulator-always-on;
	regulator-min-microvolt = <1360000>;
	regulator-max-microvolt = <1360000>;
	regulator-name = "vcc-dram";
};

&reg_dcdc6 {
	regulator-always-on;
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
	regulator-name = "vdd-sys";
};

&reg_dldo1 {
	regulator-min-microvolt = <3300000>;
	regulator-max-microvolt = <3300000>;
	regulator-name = "vcc-hdmi";
};

&reg_dldo2 {
	regulator-min-microvolt = <3400000>;
	regulator-max-microvolt = <3400000>;
	regulator-name = "current-control";
	regulator-always-on;
};


&gpio0_ldo {
  function = "ldo";
};

&gpio1_ldo {
  function = "ldo";
};

&reg_ldo_io0 {
  regulator-always-on;
  regulator-min-microvolt = <700000>;
  regulator-max-microvolt = <700000>;
  regulator-name = "vcc-vref-e1";
	status = "okay";
};


&reg_ldo_io1 {
  regulator-always-on;
  regulator-min-microvolt = <700000>;
  regulator-max-microvolt = <700000>;
  regulator-name = "vcc-vref-e0";
  status = "okay";
};

&reg_dldo3 {
  regulator-always-on;
  regulator-min-microvolt = <700000>;
  regulator-max-microvolt = <700000>;
  regulator-name = "vcc-vref-e2";
  status = "okay";
};

&reg_dldo4 {
  regulator-always-on;
  regulator-min-microvolt = <700000>;
  regulator-max-microvolt = <700000>;
  regulator-name = "vcc-vref-e3";
  status = "okay";
};


&reg_eldo1 {
  regulator-always-on;
	regulator-min-microvolt = <1800000>;
	regulator-max-microvolt = <1800000>;
	regulator-name = "cpvdd";
};

&reg_fldo2 {
	regulator-always-on;
	regulator-min-microvolt = <1100000>;
	regulator-max-microvolt = <1100000>;
	regulator-name = "vdd-cpus";
};

&reg_rtc_ldo {
	regulator-name = "vcc-rtc";
};

